{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <link
    rel="icon"
    href="https://raw.githubusercontent.com/akkupy/akkupy/main/assets/favicon.ico"
  />
  <link rel="canonical" href="https://sliceit.me">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Convert your lengthy URLs into a short,readable URL with custom back half using SliceIt! Use the inbuilt admin dashboard for managing the shortened links.">
  <meta property="og:type" content="url shortener">
  <meta property="og:title" content="SliceIt | URL Shortener">
  <meta property="og:description" content="Convert your lengthy URLs into a short,readable URL with custom back half using SliceIt! Use the inbuilt admin dashboard for managing the shortened links.">
  <meta name="image" property="og:image" content="https://sliceit.me/static/images/sliceit.png">
  <meta property="og:site_name" content="SliceIt | URL Shortener">
  <meta name="theme-color" content="#f6f7fb">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="SliceIt | URL Shortener">
  <meta property="twitter:description" content="Convert your lengthy URLs into a short,readable URL with custom back half using SliceIt! Use the inbuilt admin dashboard for managing the shortened links.">
  <meta property="twitter:image" content="https://sliceit.me/static/images/sliceit.png">
  <meta content="https://sliceit.me" property="og:url">
  <meta name="keywords" content="url,url shortener,shortener,slice it,admin dashboard,django,django url,URL,URL shortener">
  <script>"Apple Computer, Inc."===navigator.vendor&&document.documentElement.classList.add("safari")</script>
  <title>SliceIt | URL Shortener</title>
  <link
    rel="apple-touch-icon"
    href="https://raw.githubusercontent.com/akkupy/akkupy/main/assets/favicon.ico"
  />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

</head>

<body>

  <section class="home">
  <!-- Header -->
  <nav>
    <!-- Header Icon -->
    <img src="{% static 'images/logo.svg' %}" alt="Sliceit">

    <!-- Menu -->
    <section class="menu-section">

      <ul class="links-section gray-p">
        {% if request.user.is_authenticated %}
          <li><a href="/profile/">Profile</a></li>
          {% endif %}
        <li><a href="#feature">Features</a></li>
      </ul>
      <hr class="menu-hr">
      <!-- Header Buttons -->
      <ul class="buttons-section">
        {% if request.user.is_authenticated %}
          <li class="gray-p" id="mail">{{request.user.email}}</li>
          <li><a class="button" href="/auth/logout">Logout</a></li>
        {% else %}
          <li><a class="button" id="form-open">Login</a></li>
        {% endif %}
      </ul>
    </section>
    <i class="fa-solid fa-bars"></i>
  </nav>


  <section class="home">
    <div class="form_container">
       <i class="uil uil-times form_close"></i>
      <!-- Login From -->
      <div class="form login_form">
        <form action="/auth/login/" method="post" onsubmit="disableButton('Logging In','login_button')">
          {% csrf_token %}
          <h2>Login</h2>

          <div class="input_box">
            <input type="email" name="email" placeholder="Enter your email" required />
            <i class="uil uil-envelope-alt email"></i>
          </div>
          <div class="input_box">
            <input type="password" name="password" placeholder="Enter your password" required />
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>

          <div class="option_field">
            <span class="checkbox">
              <input type="checkbox" id="check" name="remember_me" value="True"/>
              <label for="check">Remember me</label>
              <input type = "hidden" id ="checkHidden" name="remember_me" value ="False"/>
            </span>
            <a href="#" class="forgot_pw">Forgot password?</a>
          </div>

          <button class="button" id="login_button">Login Now</button>

          <div class="login_signup">Don't have an account? <a href="#" id="signup">Signup</a></div>
        </form>
      </div>

      <!-- Signup From -->
      <div class="form signup_form">
        <form action="/auth/signup/" method="post" onsubmit="disableButton('Signing Up','signup_button')">
          {% csrf_token %}
          <h2>Signup</h2>

          <div class="input_box">
            <input type="text" name="name" placeholder="Enter your name." required />
            <i class="uil uil-user email"></i>
          </div>
          <div class="input_box">
            <input type="email" name="email" placeholder="Enter your email" required />
            <i class="uil uil-envelope-alt email"></i>
          </div>
          <div class="input_box">
            <input type="password" name="password" id="password" placeholder="Create password" required />
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>
          <div class="input_box">
            <input type="password" id="password1" placeholder="Confirm password" required />
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>

          <button class="button" id="signup_button">Signup Now</button>

          <div class="login_signup">Already have an account? <a href="#" id="login">Login</a></div>
        </form>
      </div>
    </div>
  </section>

  <main class="main-container">
    <!-- Section 1-->
    <article class="section-1">

      <div class="main-info">
        <h1>Slice your links on a click</h1>
        <p class="gray-p">Shorten and track your links in a simpler way.</p>
        {% if request.user.is_authenticated %}
        <a class="cyan-btn" href="/profile/" aria-hidden="true">View Profile</a>
        {% else %}
          <a class="cyan-btn" href="#slice" aria-hidden="true"> Get Started</a>
        {% endif %}
      </div>
      <img src="{% static 'images/illustration-working.svg' %}" alt="" aria-hidden="true">
    </article>
    <!-- Section 2 -->
    <section id="slice">
      <form action="" class="section-2">
        <div class="url-input-block">
          <input type="text" class="url-input" placeholder="Paste Your Link Here...">
          <em class="error-msg"></em>
        </div> <div class="newclass">
        <div class="url-input-block">
          <input type="text" class="back-input1" placeholder="sliceit.me/" disabled>
        </div> &nbsp;&nbsp;
        <div class="url-input-block">
          <input type="text" class="back-input" placeholder="Enter a Back-Half(Optional)" maxlength="20">
          <em class="error-msg1"></em>
        </div></div>
        <button type="submit" class="url-button cyan-btn">Slice It!</button>
      </form>
    </section>
    
    <!-- Section 3 -->
    <article class="section-3">
      <!-- Shortly Results -->
      <button class="cyan-btn reset-results">Clear Results
      </button>
      <section class="search-result-block">
      </section>
      <h2 id="feature"> Advanced Statistics</h2>
      <p class="info">Track how your links are performing across the web with our
        advanced statistics dashboard.</p>
      <section class="section-3-blocks">

        <div>
          <img src="{% static 'images/icon-brand-recognition.svg' %}" alt="" aria-hidden="true">
          <h3> Brand Recognition</h3>
          <p class="gray-p">Boost your brand recognition with each click. Generic links don’t
            mean a thing. Branded links help instil confidence in your content.</p>
        </div>
        <div>
          <img src="{% static 'images/icon-detailed-records.svg' %}" alt="" aria-hidden="true">
          <h3>Detailed Records</h3>
          <p class="gray-p">Gain insights into who is clicking your links. Knowing when and where
            people engage with your content helps inform better decisions.</p>
        </div>
        <div>
          <img src="{% static 'images/icon-fully-customizable.svg' %}" alt="" aria-hidden="true">
          <h3> Fully Customizable</h3>
          <p class="gray-p"> Improve brand awareness and content discoverability through customizable
            links, supercharging audience engagement.</p>
        </div>
      </section>
    </article>
    <!-- Section 4 -->
    <!--article class="section-4">
      <h2> Boost your links today</h2>
      <a class="cyan-btn" href="/"> Get Started</a>
    </article-->
  </main>
  <!-- Footer -->
  <footer>
    <!-- Logo -->
    <article>
      
    </article>
    <section class="footer-menu">
      <!-- Footer Menu -->
      <article>
        <h4> Features</h4>
        <ul class="gray-p">
          <li><a href="/"> Link Shortening</a></li>
          <li><a href="/"> Branded Links</a></li>
          <li><a href="/"> Analytics</a></li>
        </ul>
      </article>
      <article>
        <h4> Resources</h4>
        <ul class="gray-p">
          <li><a href="https://blog.akkupy.me"> Blog</a></li>
          <li><a href="https://akkupy.me"> Developer 1</a></li>
          <li><a href="https://vizmaya.tech"> Developer 2</a></li>
          <li><a href="https://t.me/akkupy"> Support</a></li>
        </ul>
      </article>
      <article>
        <h4> Company</h4>
        <ul class="gray-p">
          <li><a href="https://akkupy.me">About</a></li>
          <li><a href="https://t.me/akkupy">Contact</a></li>
        </ul>

      </article>

      <!-- Social Media-->
      <article class="social-media">
        <a href="https://t.me/akkupy" target="_blank"><img src="{% static 'images/telegram.svg' %}" alt="Twitter link"></a>
        <a href="https://github.com/akkupy/" target="_blank"><img src="{% static 'images/github.svg' %}" alt="Instagram link"></a>
      </article>
    </section>
  </footer>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/app.js' %}"></script>
</section>
</body>

</html>