{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="copyright" content="Akkupy">
  <meta name="rating" content="General">
  <meta name="coverage" content="Worldwide">
  <meta name="creator" content="Akkupy">
  <meta name="author" content="Akkupy">
  <meta name="theme-color" content="#294572" />
  <link rel="manifest" href="./site.webmanifest">

  <meta name="title" content="SliceIt | URL Shortener">
  <meta name="description" content="Convert your lengthy URLs into a short,readable URL with custom back half using SliceIt! Use the inbuilt admin dashboard for managing the shortened links.">
  <meta name="keywords" itemProp="keywords"
        content="URL shortener, Sliceit URL Shortener, SliceIt URL SHortener, sliceit url shortener, SLICEIT URL SHORTENER, SliceIt, SliceIt URL, SliceIt URL Shortener, url, url shortener, shortener, slice it, admin dashboard, django, django url, URL" />
  
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sliceit.me/">
  <meta property="og:title" content="SliceIt | URL Shortener">
  <meta property="og:description" 
      content="Convert your lengthy URLs into a short,readable URL with custom back half using SliceIt! Use the inbuilt admin dashboard for managing the shortened links.">
  <meta name="image" property="og:image" content="https://sliceit.me/static/images/sliceit.png">
  <meta property="og:site_name" content="Sliceit">
  
  <link rel="icon" type="image/x-icon" sizes="144x144" href="https://sliceit.me/static/images/favicon/favicon-144x144.ico">
  <link rel="icon" type="image/x-icon" sizes="288x288" href="https://sliceit.me/static/images/favicon/favicon-288x288.ico">
  <link rel="icon" type="image/x-icon" sizes="32x32" href="https://sliceit.me/static/images/favicon/favicon-32x32.ico">
  <link rel="icon" type="image/x-icon" sizes="16x16" href="https://sliceit.me/static/images/favicon/favicon-16x16.ico">
  <link rel="icon" type="image/x-icon" sizes="192x192" href="https://sliceit.me/static/images/favicon/favicon-192x192.ico">
  <link rel="icon" type="image/x-icon" sizes="480x480" href="https://sliceit.me/static/images/favicon/favicon-480x480.ico">
  <link rel="icon" type="image/x-icon" sizes="48x48" href="https://sliceit.me/static/images/favicon/favicon-48x48.ico">
  <link rel="icon" type="image/x-icon" sizes="512x512" href="https://sliceit.me/static/images/favicon/favicon-512x512.ico">
  <link rel="icon" type="image/x-icon" sizes="256x256" href="https://sliceit.me/static/images/favicon/favicon-256x256.ico">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="180x180" href="https://sliceit.me/static/images/favicon/apple-touch-icon.ico">

  <link rel="canonical" href="https://sliceit.me/">
    
    
  <meta name="twitter:card" property="twitter:card" content="summary_large_image">
  <meta name="twitter:title" property="twitter:title" content="SliceIt | URL Shortener">
  <meta name="twitter:description" property="twitter:description" content="Convert your lengthy URLs into a short,readable URL with custom back half using SliceIt! Use the inbuilt admin dashboard for managing the shortened links.">
  <meta name="twitter:image" property="twitter:image" content="https://sliceit.me/static/images/sliceit.png">
  <meta name="twitter:url" property="twitter:url" content="https://sliceit.me/">
  <meta name="twitter:creator" property="twitter:creator" content="@akkupy">
    
  <script>"Apple Computer, Inc."===navigator.vendor&&document.documentElement.classList.add("safari")</script>
  
  <title>SliceIt | URL Shortener</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>

<body>

  <section class="home">
  <!-- Header -->
  <nav>
    <!-- Header Icon -->
    <img src="{% static 'images/logo.svg' %}" alt="Sliceit">

    <!-- Menu -->
    <section class="menu-section">

      <ul class="links-section gray-p">
        <li><a href="/">Home</a></li>
        <li><a href="#feature">Link Panel</a></li>
      </ul>
      <hr class="menu-hr">
      <!-- Header Buttons -->
      <ul class="buttons-section">
        <li class="gray-p" id="mail">{{request.user.email}}</li>
        <li><a class="button" href="/auth/logout">Logout</a></li>
      </ul>
    </section>
    <i class="fa-solid fa-bars"></i>
  </nav>

  <main class="main-container">
    <!-- Section 1-->
    <article class="section-1">

      <div class="main-info">
        <h1>Welcome , {{request.user.name}}</h1>
        <p class="gray-p">Shorten and track your links in a simpler way.</p>
        <a class="cyan-btn" href="#slice" aria-hidden="true"> Link Slicer</a>
      </div>
      <img src="{% static 'images/illustration-working.svg' %}" alt="" aria-hidden="true">
    </article>
    <!-- Section 2 -->
    <section id="slice">
      <form action="" class="section-2">
        <div class="url-input-block">
          <input type="text" class="url-input" placeholder="Paste Your Link Here...">
          <em class="error-msg"></em>
        </div> <div class="newclass">
        <div class="url-input-block">
          <input type="text" class="back-input1" placeholder="sliceit.me/" disabled>
        </div> &nbsp;&nbsp;
        <div class="url-input-block">
          <input type="text" class="back-input" placeholder="Enter a Back-Half(Optional)" maxlength="20">
          <em class="error-msg1"></em>
        </div></div>
        <button type="submit" class="url-button cyan-btn">Slice It!</button>
      </form>
    </section>
    
    <!-- Section 3 -->
    <article class="section-3">
      <!-- Shortly Results -->
      <button class="cyan-btn reset-results">Clear Results
      </button>
      <section class="search-result-block">
      </section>
      <h2 id="feature"> Your Short Links</h2>
      <p class="info">Track how your links are performing!</p>
        <table id="profileLinks">
          <tr>
            <th>Target Link</th>
            <th id="table_short">Short Link</th>
            <th id="table_click">Clicks</th>
            <th id="table_click">Action</th>
          </tr>
          {% if linkData %}
            {% for link in linkData %}
              <tr>
                <td>{{ link.target_url }}</td>
                <td>{{ link.short_url }}</td>
                <td>{{ link.clicks }}</td>
                <td><button class="delete_button" id="{{ link.code }}" value="{{ link.code }}" onclick="this.disabled=true;deleteBtn(this.value)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                </button></td>
              </tr>
            {% endfor %}
            {% else %}
            <p style="color: red;"> No Links Yet. Create Some!</p>
          {% endif %}
          
        </table>
        <button class="button" onclick="refresher()"> Refresh</button>

    </article>
    <!-- Section 4 -->
    <!--article class="section-4">
      <h2> Boost your links today</h2>
      <a class="cyan-btn" href="/"> Get Started</a>
    </article-->
  </main>
  <!-- Footer -->
  <footer>
    <!-- Logo -->
    <article>
      
    </article>
    <section class="footer-menu">
      <!-- Footer Menu -->
      <article>
        <h4> Features</h4>
        <ul class="gray-p">
          <li><a href="/"> Link Shortening</a></li>
          <li><a href="/"> Branded Links</a></li>
          <li><a href="/"> Analytics</a></li>
        </ul>
      </article>
      <article>
        <h4> Resources</h4>
        <ul class="gray-p">
          <li><a href="https://blog.akkupy.me"> Blog</a></li>
          <li><a href="https://akkupy.me"> Developer 1</a></li>
          <li><a href="https://vizmaya.tech"> Developer 2</a></li>
          <li><a href="https://t.me/akkupy"> Support</a></li>
        </ul>
      </article>
      <article>
        <h4> Company</h4>
        <ul class="gray-p">
          <li><a href="https://akkupy.me">About</a></li>
          <li><a href="https://t.me/akkupy">Contact</a></li>
        </ul>

      </article>

      <!-- Social Media-->
      <article class="social-media">
        <a href="https://t.me/akkupy" target="_blank"><img src="{% static 'images/telegram.svg' %}" alt="Twitter link"></a>
        <a href="https://github.com/akkupy/" target="_blank"><img src="{% static 'images/github.svg' %}" alt="Instagram link"></a>
      </article>
    </section>
  </footer>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/app.js' %}"></script>
</section>
</body>

</html>