{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Shortly URL shortening API - Frontend Mentor">
  <meta name="keywords" content="Shortly URL shortening API, Frontend Mentor, API project">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/akkupy/akkupy/main/assets/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

  <title>SliceIt</title>
</head>

<body>

  <section class="home">
  <!-- Header -->
  <nav>
    <!-- Header Icon -->
    <img src="{% static 'images/logo.svg' %}" alt="Sliceit">

    <!-- Menu -->
    <section class="menu-section">

      <ul class="links-section gray-p">
        <li><a href="#feature">Link Panel</a></li>
      </ul>
      <hr class="menu-hr">
      <!-- Header Buttons -->
      <ul class="buttons-section">
        <li>{{request.user.email}}</li>
        <li><a class="button" href="/auth/logout">Logout</a></li>
      </ul>
    </section>
    <i class="fa-solid fa-bars"></i>
  </nav>

  <main class="main-container">
    <!-- Section 1-->
    <article class="section-1">

      <div class="main-info">
        <h1>Welcome , {{request.user.name}}</h1>
        <p class="gray-p">Shorten and track your links in a simpler way.</p>
        <a class="cyan-btn" href="#slice" aria-hidden="true"> Get Started</a>
      </div>
      <img src="{% static 'images/illustration-working.svg' %}" alt="" aria-hidden="true">
    </article>
    <!-- Section 2 -->
    <section id="slice">
      <form action="" class="section-2">
        <div class="url-input-block">
          <input type="text" class="url-input" placeholder="Paste Your Link Here...">
          <em class="error-msg"></em>
        </div> <div class="newclass">
        <div class="url-input-block">
          <input type="text" class="back-input1" placeholder="sliceit.me/" disabled>
        </div> &nbsp;&nbsp;
        <div class="url-input-block">
          <input type="text" class="back-input" placeholder="Enter a Back-Half(Optional)" maxlength="20">
          <em class="error-msg1"></em>
        </div></div>
        <button type="submit" class="url-button cyan-btn">Slice It!</button>
      </form>
    </section>
    
    <!-- Section 3 -->
    <article class="section-3">
      <!-- Shortly Results -->
      <button class="cyan-btn reset-results">Clear Results
      </button>
      <section class="search-result-block">
      </section>
      <h2 id="feature"> Your Short Links</h2>
      <p class="info">Track how your links are performing!</p>
        <table id="profileLinks">
          <tr>
            <th>Target Link</th>
            <th id="table_short">Short Link</th>
            <th id="table_click">Clicks</th>
          </tr>
          {% if linkData %}
            {% for link in linkData %}
              <tr>
                <td>{{ link.target_url }}</td>
                <td>{{ link.short_url }}</td>
                <td>{{ link.clicks }}</td>
              </tr>
            {% endfor %}
            {% else %}
            <p style="color: red;"> No Links Yet. Create Some!</p>
          {% endif %}
          
        </table>
        <button class="button" onclick="refresher()"> Refresh</button>

    </article>
    <!-- Section 4 -->
    <!--article class="section-4">
      <h2> Boost your links today</h2>
      <a class="cyan-btn" href="/"> Get Started</a>
    </article-->
  </main>
  <!-- Footer -->
  <footer>
    <!-- Logo -->
    <article>
      
    </article>
    <section class="footer-menu">
      <!-- Footer Menu -->
      <article>
        <h4> Features</h4>
        <ul class="gray-p">
          <li><a href="/"> Link Shortening</a></li>
          <li><a href="/"> Branded Links</a></li>
          <li><a href="/"> Analytics</a></li>
        </ul>
      </article>
      <article>
        <h4> Resources</h4>
        <ul class="gray-p">
          <li><a href="https://blog.akkupy.me"> Blog</a></li>
          <li><a href="https://akkupy.me"> Developer 1</a></li>
          <li><a href="https://vizmaya.tech"> Developer 2</a></li>
          <li><a href="https://t.me/akkupy"> Support</a></li>
        </ul>
      </article>
      <article>
        <h4> Company</h4>
        <ul class="gray-p">
          <li><a href="https://akkupy.me">About</a></li>
          <li><a href="https://t.me/akkupy">Contact</a></li>
        </ul>

      </article>

      <!-- Social Media-->
      <article class="social-media">
        <a href="https://t.me/akkupy" target="_blank"><img src="{% static 'images/telegram.svg' %}" alt="Twitter link"></a>
        <a href="https://github.com/akkupy/" target="_blank"><img src="{% static 'images/github.svg' %}" alt="Instagram link"></a>
      </article>
    </section>
  </footer>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/app.js' %}"></script>
</section>
</body>

</html>